USE [master]
GO
CREATE DATABASE [AppleStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppleStoreDB', FILENAME = N'C:\Users\Sayem\AppleStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppleStoreDB_log', FILENAME = N'C:\Users\Sayem\AppleStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppleStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppleStoreDB]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 26-Nov-25 09:29:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Oid] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[Odate] [datetime] NOT NULL,
	[FullName] [nvarchar](150) NULL,
	[Address] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 26-Nov-25 09:29:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](60) NULL,
	[Gender] [nvarchar](6) NULL,
	[JoinedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[PName] [nvarchar](150) NOT NULL,
	[PDescription] [nvarchar](max) NULL,
	[PPrice] [decimal](10, 2) NOT NULL,
	[PQuantity] [int] NOT NULL,
	[PImage] [nvarchar](300) NULL,
	[Category] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopCart](
	[ShopCartID] [int] IDENTITY(1,1) NOT NULL,
	[Oid] [int] NOT NULL,
	[PID] [int] NOT NULL,
	[OrderQuantity] [int] NOT NULL,
	[PPrice] [decimal](10, 2) NOT NULL,
	[PTotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShopCartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Oid], [PersonID], [Odate], [FullName], [Address]) VALUES (1, 1, CAST(N'2025-11-26T00:19:24.123' AS DateTime), N'shaikah', N'Dammam')
INSERT [dbo].[Order] ([Oid], [PersonID], [Odate], [FullName], [Address]) VALUES (2, 3, CAST(N'2025-11-26T00:28:10.413' AS DateTime), N'mahmud', N'Demo Address')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([ID], [Name], [Email], [Password], [Gender], [JoinedDate]) VALUES (1, N'shaikah', N'shaikah@gmail.com', N'123456', N'Female', CAST(N'2025-11-25T23:38:47.000' AS DateTime))
INSERT [dbo].[Person] ([ID], [Name], [Email], [Password], [Gender], [JoinedDate]) VALUES (2, N'hossain', N'hossain@gmail.com', N'123456', N'Male', CAST(N'2025-11-26T00:16:24.000' AS DateTime))
INSERT [dbo].[Person] ([ID], [Name], [Email], [Password], [Gender], [JoinedDate]) VALUES (3, N'mahmud', N'mahmud@gmail.com', N'123456', N'Male', CAST(N'2025-11-26T00:26:52.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([PID], [PName], [PDescription], [PPrice], [PQuantity], [PImage], [Category]) VALUES (1, N'iPhone 17', N'The iPhone 17 features a 6.3" ProMotion display (120 Hz), A19 chip, 48MP dual-fusion camera, and 5G capabilities.', CAST(799.00 AS Decimal(10, 2)), 114, N'Products/iPhone 17.png', N'Phone')
INSERT [dbo].[Product] ([PID], [PName], [PDescription], [PPrice], [PQuantity], [PImage], [Category]) VALUES (2, N'iPhone 17 Pro', N'iPhone 17 Pro comes with the A19 Pro chip, a triple-lens 48MP camera array, vapor-chamber cooling, and up to 2 TB storage.', CAST(1099.00 AS Decimal(10, 2)), 76, N'Products/iPhone 17 Pro.png', N'Phone')
INSERT [dbo].[Product] ([PID], [PName], [PDescription], [PPrice], [PQuantity], [PImage], [Category]) VALUES (3, N'iPhone 17 Pro Max', N'The iPhone 17 Pro Max offers a large 6.9" OLED display, advanced photography, and extended battery life for pro users.', CAST(1299.00 AS Decimal(10, 2)), 60, N'Products/iPhone 17 Pro Max.png', N'Phone')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopCart] ON 

INSERT [dbo].[ShopCart] ([ShopCartID], [Oid], [PID], [OrderQuantity], [PPrice], [PTotal]) VALUES (1, 1, 1, 3, CAST(799.00 AS Decimal(10, 2)), CAST(2397.00 AS Decimal(10, 2)))
INSERT [dbo].[ShopCart] ([ShopCartID], [Oid], [PID], [OrderQuantity], [PPrice], [PTotal]) VALUES (2, 1, 12, 3, CAST(349.00 AS Decimal(10, 2)), CAST(1047.00 AS Decimal(10, 2)))
INSERT [dbo].[ShopCart] ([ShopCartID], [Oid], [PID], [OrderQuantity], [PPrice], [PTotal]) VALUES (3, 2, 2, 2, CAST(1099.00 AS Decimal(10, 2)), CAST(2198.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ShopCart] OFF
GO
ALTER TABLE [dbo].[ShopCart]  WITH CHECK ADD FOREIGN KEY([Oid])
REFERENCES [dbo].[Order] ([Oid])
GO
ALTER TABLE [dbo].[ShopCart]  WITH CHECK ADD FOREIGN KEY([PID])
REFERENCES [dbo].[Product] ([PID])
GO
USE [master]
GO
